#searchBtn {
    margin-left: 5%;
}

.imgNum{
width: 20%;
margin-block: 20px;
}

.d-flex2 {
    display: flex !important;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#bannerimg1 {
    background-color: #06A3DA !important;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}
#bannerimg2 {
    background-color: #4ab3d8 !important;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}
#bannerimg3 {
    background-color: #89c3d8 !important;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;


}
#bannerWrap .bannDivs:hover{
    background-color: #efc365 !important;

}

.termsServiceIN{
    width: 18px;
    height: 18px;
}
.classicWrpr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.useTerms{
    margin-inline: 18px;
    color: black;
}

.useTerms:hover ,.classicWrpr:hover{
    color: rgb(234, 234, 106);
}

.hover:hover{
    cursor: pointer;
}
.Sround{
    border-radius: 15px;
}
.submitBtn{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.submitBtn:hover {
    background-color: rgb(231, 231, 124);
    color: black;
}

.appointment-form {
    background: rgba(6, 163, 218, .7);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.bg-appointment {
    background: linear-gradient(rgba(9, 30, 62, 0.542), rgba(9, 30, 62, 0.662)), url(../img/typing.jpeg) center center no-repeat;
    background-size: cover;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.serviceIMG{
    width: 100%;
    height: 240px
}

#ModalWrp {
    overflow-y: scroll;
    position: fixed;
    top: 10vh;
    left: 27vw;
    width: 46vw;
    height: 50vh;
    z-index: 5;
    background-color: #dedede;
    border-radius: 15px;
    overflow: auto;
    border: 2px solid rgb(86, 125, 232);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
}


/* Style for the scrollbar */
#ModalWrp::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Track (the background) */
#ModalWrp::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
}

/* Handle (the draggable part) */
#ModalWrp::-webkit-scrollbar-thumb {
    background: #88a6bd; /* Color of the thumb */
}

/* Handle on hover */
#ModalWrp::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
}

#modalContent{
    padding: 15px;
    padding-bottom: 40px;
}
.termsofUseText{
    font-size: 12px;
}

#Exit{
    float: left;
    margin: 0px;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 18px;
    cursor: pointer;
}

#Exit:hover{
    color: red;
}

div input[type="checkbox"] {
    accent-color: #3d863f;  
}

.bg-testimonial {
    background: url(../img/reviews.png) center center no-repeat;
    background-size: cover;
    opacity: 0.7;
}


.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(9 30 62 / 50%);
    z-index: 1;
}

.bannDivs {
    padding-top: 5px !important;
}

.shadow1{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.container p  li {
    color: white;
}


.hero-header a:hover {
    color: #06A3DA !important;
}
.hero-header3 a:hover {
    color: #06A3DA !important;
}
.hero-header4 a:hover {
    color: #06A3DA !important;
}
.hero-header5 a:hover {
    color: #06A3DA !important;
}
.hero-header6 a:hover {
    color: #06A3DA !important;
}
p li {
    text-align: right;
}

.info strong {
    font-size: 18px;
}

.hovercolor:hover{
    background-color: #f6e989;
    color: black;
}


.bg-offer {
    background: linear-gradient(rgba(9, 30, 62, 0.62), rgba(9, 30, 62, 0.585)), url(../img/pensbg2.jpg) center center no-repeat;
    background-size: cover;
}


.hero-header {
    background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/pensbg.jpg) center center no-repeat;
    background-size: cover;
}



.bg-offer3 {
    background: linear-gradient(rgba(9, 30, 62, 0.62), rgba(9, 30, 62, 0.585)), url(../img/loan3.jpg) center center no-repeat;
    background-size: cover;
}

.hero-header3 {
    background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/loan33.jpg) center center no-repeat;
    background-size: cover;
}
.hero-header4 {
    background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/bg66.jpg) center center no-repeat;
    background-size: cover;
}


/* .carousel-caption h1 {
    font-size: 28px;
    font-weight: 600 !important;
} */


.bg-offer5 {
    background: linear-gradient(rgba(9, 30, 62, 0.62), rgba(9, 30, 62, 0.585)), url(../img/bg66.jpg) center center no-repeat;
    background-size: cover;
}

.hero-header5 {
    background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/loan3.jpg) center center no-repeat;
    background-size: cover;
}



.display-1 {
    font-size: 3.6rem;
}


html,body {
    overflow-x: hidden;
}